@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
    color: #e8dbae;
}

#body {
    background-image: linear-gradient(to bottom right, #066F61, #00200E);
    min-height: 100vh;
}

#body-container {
    margin: 50px 20%;
}

nav {
    font-family: 'DM Serif Display', serif;
    padding: 10px;
}

#nav-container {
    display: flex;
    align-items: center;
}

nav a {
    font-size: 25px;
    margin: 10px;
    text-decoration: none;
    vertical-align: center;
}

nav a:hover {
    color: #d6a506;
}

#name {
    color: #d6a506;
    font-size: 50px;
}

#main {
    display: flex;
}

#main-container {
    margin: 20px;
}

#left-column {
    width: 60%;
    margin: 20px;
}

h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

#right-column {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px;
    text-align: center;
    width: 40%;
}

#profile-picture {
    border-radius: 50%;
}

#contact-bar {
    text-align: center;
}

a img {
    margin: 10px;
}

ul li {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}